<div class="grupo-container">
  <h3>Modelos</h3>

  <div class="form-group">
    <label for="idGrupo">Buscar Modelo:</label>
    <input
      type="text"
      id="idGrupo"
      [(ngModel)]="idModelo"
      placeholder="Ingresa el ID del Modelo"
      (focus)="limpiarCampo('idGrupo')"
    />
  </div>

  <div class="form-group">
    <label for="descripcion">Descripción:</label>
    <input
      type="text"
      id="descripcion"
      [(ngModel)]="descripcion"
      placeholder="Ingresa la descripción del modelo"
      (focus)="limpiarCampo('descripcion')"
    />
  </div>

  <button class="btn" color="primary" (click)="buscarModelos()">Buscar</button>
</div>

<!-- Modal -->
<div class="modal" *ngIf="mostrarModal">
  <div class="modal-content">
    <span class="close" (click)="cerrarModal()">&times;</span>
    <h3>Resultados</h3>
    <ul>
      <li *ngFor="let modelo of modelos">
        ID: {{ modelo.codigo }} - Descripción: {{ modelo.descripcion }}
      </li>
    </ul>
  </div>
</div>
