<div class="rango-container">
  <h2>Reporte por Rango de Fechas</h2>
  <div class="form-group">
    <label for="fechaInicio">Fecha inicio:</label>
    <input id="fechaInicio" type="date" [(ngModel)]="fechaInicio" />
  </div>
  <div class="form-group">
    <label for="fechaFin">Fecha fin:</label>
    <input id="fechaFin" type="date" [(ngModel)]="fechaFin" />
  </div>

  <div class="botones">
    <button (click)="buscarReportes()">Buscar</button>
    <button (click)="limpiar()">Limpiar</button>
  </div>

<!--   <p *ngIf="reportes.length === 0 && busquedaRealizada">
    No se encontraron reportes en ese rango.
  </p> -->
</div>
