/* Contenedor general del formulario */
.articulos-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin: 20px auto;
  font-family: "Segoe UI", sans-serif;
}

hr{
    border: 0;
    height: 1px;
    background-color: #ccc;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Estilo para las filas del formulario */
.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* Estilo para los campos de entrada */
.form-group {
  flex: 1;
  min-width: 150px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-weight: bold;
  font-size: 14px;
}

/* Estilo para los input y select */
input,
select {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

/* Estilo para los botones */
button {
  padding: 10px 15px;
  background-color: #004186;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: auto;
  justify-content: center;
  min-width: auto;
  margin-top: 10px;
  display: inline-block;
  text-align: center;
}

button:hover {
  background-color: #003366;
}

/* Estilo para las casillas de verificación */
.row-check {
  display: flex;
  gap: 300px;
  flex-wrap: wrap;
  justify-content: center;
}

.row-check label {
  font-size: 14px;
}

/* Estilo para los campos con descripción más grande */
.descripcion {
  flex: 2;
}

/* Estilo para la sección de existencia y número de inventario */
.existencia-section {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.existencia-section input {
  width: 200px;
}

/* Hacer el formulario responsivo */
@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }

  .row-check {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
  }

  .form-group {
    flex: none;
    width: 100%;
  }

  .descripcion {
    width: 100%;
  }

  button {
    width: 100%;
  }

  .existencia-section {
    flex-direction: column;
    align-items: flex-start;
  }

  .existencia-section input {
    width: 100%;
    margin-bottom: 10px;
  }
}
