<div class="grupo-container">
  <h3>Lugar de Entrega</h3>

  <div class="form-group">
    <label for="idGrupo">Buscar Lugar de Entrega:</label>
    <input
      type="text"
      id="idGrupo"
      [(ngModel)]="idLugar"
      placeholder="Ingresa el ID del lugar de entrega"
      (focus)="limpiarCampo('idGrupo')"
    />
  </div>

  <div class="form-group">
    <label for="descripcion">Descripción:</label>
    <input
      type="text"
      id="descripcion"
      [(ngModel)]="descripcion"
      placeholder="Ingresa la descripción del lugar de entrega"
      (focus)="limpiarCampo('descripcion')"
    />
  </div>

  <button class="btn" (click)="buscarLugarEntrega()">Buscar</button>

<!-- Modal -->
<div class="modal" *ngIf="mostrarModal">
  <div class="modal-content">
    <span class="close" (click)="cerrarModal()">&times;</span>
    <h3>Resultados</h3>
    <ul>
      <li *ngFor="let lugar of lugares">
        ID: {{ lugar.codigo }} - Descripción: {{ lugar.descripcion }}
      </li>
    </ul>
  </div>
</div>
