<div class="grupo-container">
  <h3>Marca</h3>

  <div class="form-group">
    <label for="idGrupo">Buscar Marca:</label>
    <input
      type="text"
      id="idGrupo"
      [(ngModel)]="idMarca"
      placeholder="Ingresa el ID de la Marca"
      (focus)="limpiarCampo('idGrupo')"
    />
  </div>

  <div class="form-group">
    <label for="descripcion">Descripción:</label>
    <input
      type="text"
      id="descripcion"
      [(ngModel)]="descripcion"
      placeholder="Ingresa la descripción de la marca"
      (focus)="limpiarCampo('descripcion')"
    />
  </div>

  <button class="btn" (click)="buscarMarca()">Buscar</button>

<!-- Modal -->
<div class="modal" *ngIf="mostrarModal">
  <div class="modal-content">
    <span class="close" (click)="cerrarModal()">&times;</span>
    <h3>Resultados</h3>
    <ul>
      <li *ngFor="let marca of marcas">
        ID: {{ marca.codigo }} - Descripción: {{ marca.descripcion }}
      </li>
    </ul>
  </div>
</div>