<div class="grupo-container">
  <h3>Movimientos</h3>

  <div class="form-group">
    <label for="idGrupo">Buscar Movimiento:</label>
    <input
      type="text"
      id="idGrupo"
      [(ngModel)]="idGrupo"
      placeholder="Ingresa el ID del Movimiento"
      (focus)="limpiarCampo('idGrupo')"
    />
  </div>

  <div class="form-group">
    <label for="descripcion">Descripción:</label>
    <input
      type="text"
      id="descripcion"
      [(ngModel)]="descripcion"
      placeholder="Ingresa la descripción del movimiento"
      (focus)="limpiarCampo('descripcion')"
    />
  </div>

  <button class="btn" color="primary" (click)="buscarMovimientos()">Buscar</button>
</div>

<!-- Modal para mostrar los resultados -->
<div class="modal" *ngIf="mostrarModal">
  <div class="modal-content">
    <h4>Resultados</h4>
    <table>
      <thead>
        <tr>
          <th>ID Movimiento</th>
          <th>Descripción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mov of movimientos">
          <td>{{ mov.ID_MOVIMIENTO }}</td>
          <td>{{ mov.DESCRIPCION }}</td>
        </tr>
      </tbody>
    </table>
    <button (click)="cerrarModal()">Cerrar</button>
  </div>
</div>
