<div class="grupo-container">
  <h3>Medidas</h3>

  <div class="form-group">
    <label for="idGrupo">Buscar Medidas:</label>
    <input
      type="text"
      id="idGrupo"
      [(ngModel)]="idGrupo"
      placeholder="Ingresa el ID de las Medidas"
      (focus)="limpiarCampo('idGrupo')"
    />
  </div>

  <div class="form-group">
    <label for="descripcion">Descripción:</label>
    <input
      type="text"
      id="descripcion"
      [(ngModel)]="descripcion"
      placeholder="Ingresa la descripción de las medidas"
      (focus)="limpiarCampo('descripcion')"
    />
  </div>

  <button class="btn" (click)="buscarMedidas()">Buscar</button>

  <div class="modal" *ngIf="mostrarModal">
    <div class="modal-content">
      <span class="close" (click)="cerrarModal()">&times;</span>
      <h3>Resultados:</h3>
      <ul>
        <li *ngFor="let medida of medidas">
          <strong>ID:</strong> {{ medida.ID_MEDIDA }} |
          <strong>Descripción:</strong> {{ medida.DESCRIPCION_MEDIDA }}
        </li>
      </ul>
    </div>
  </div>
</div>
