<div class="grupo-container">
  <h3>Técnicos</h3>

  <div class="form-group">
    <label for="idGrupo">ID Técnico:</label>
    <input
      type="text"
      id="idGrupo"
      [(ngModel)]="idGrupo"
      placeholder="Ingresa el ID del Técnico"
      (focus)="limpiarCampo('idGrupo')"
    />
  </div>

  <div class="form-group">
    <label for="descripcion">Descripción:</label>
    <input
      type="text"
      id="descripcion"
      [(ngModel)]="descripcion"
      placeholder="Ingresa la descripción del técnico"
      (focus)="limpiarCampo('descripcion')"
    />
  </div>

  <button class="btn" color="primary" (click)="buscarTecnicos()">Buscar</button>
</div>
